#app-body {
  display: flex;
  flex-direction: column;

  /* fallback height */
  min-height: 100vh;

  /* new small viewport height for modern browsers */
  min-height: 100svh;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}