* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* #header {
  height: 54px;
  background-color: #ffdfdf;
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  padding: 0px 50px;
  justify-content: space-evenly;
  align-items: center;

} */

/* #Logo {
  padding: 0 !important;
}
#header > a {
  text-decoration: none;
  color: #f875aa;
  text-transform: uppercase;
  height: 100%;
  padding: 20px 24px;
} */
/* .arrow-down-icon {
  padding-left: 5px;
} */
.cart-icon {
  color: #f875aa;
  font-size: 24px;
}
.cart-icon:hover {
  color: #aedefc;
}
.user-icon {
  font-size: 24px;
  color: #f875aa;
}
.user-icon:hover {
  color: #aedefc;
}
/* .subnav {
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-width: 350px;
  text-align: center;
} */
/* .subnav a {
  color: #f875aa;
  text-transform: none;
  text-decoration: none;
  padding: 0px 12px;
  line-height: 58px;
  min-width: 160px;
  top: 100%;
  left: 0;
  font-size: 18px;
} */
/* .container {
  
  position: absolute;
  left: 60px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
} */
/* span {
  font-size: 20px;
  margin-top: 10px;
  line-height: 58px;
  text-transform: none;
} */
/* .category:hover .container {
  margin-top: 17px;
  opacity: 1;
  visibility: visible;
  display: flex;
} */
/* ul > li {
  font-size: 18px;
}
ul > li:hover {
  background-color: #aedefc;
} */
/* .category:hover {
  background-color: #aedefc;
} */

/* .tooltip {
  position: relative;
} */
/* .tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;

  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
  font-size: 20px;
} */
/* .tooltip:hover .tooltiptext {
  visibility: visible;
} */
/* .tooltiptext:hover {
  visibility: hidden;
} */
