* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }

.item-carousel-container{
  display: block;
  top: 80px;
  background-color: #AEDEFC;
  margin-bottom: 20px;
  position: relative;
  
}

h1 {
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}
