*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.footer{
    bottom: 0;
    display: flex;
    background-color: #FFDFDF;
    left: 0;
    right: 0;
    flex-direction: row;
    height: 140px;
    margin: 40px 40px 0px 40px;
    justify-content: space-evenly;

}
.footer-logo, .footer-about-us {
    display: flex;
    align-items: center;
    padding-top: 50px;
}
.footer-about-us > a{
    text-decoration: none;
    color: #F875AA;
    font-size: 40px;
}
