.item-media-side-detail-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 60px 15% 0px 15%;
  padding: 10px 10px 10px 10px;
  background-color:#f3cdcdc2
}
img {
  max-width: 100%;
}
.media {
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
.media > img{
  margin-bottom: 10px;
}
.media > ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  
  overflow-x: auto;
  scrollbar-width: none;
}
.item-info {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
#item-amount{
  margin-left: 10px;
}
.amount-block{
  display: flex;

}
.amount-remaining{
  margin-left: 10px;
  color: red;
}
.item-info > button{
  width: fit-content;
}

.add-item-btn{
  background-color: transparent;
  border-color: #f875aa;
  border-radius: 5px;
  color: #f875aa;
  height: 30px;
  width: 80px;
  padding: 0px 10px;
  font-weight: bold;
}
.add-item-btn:hover{
  background-color: #f875aa;
  border-color: #f875aa;
  color: aliceblue;
  cursor: pointer;
}
.add-item-btn:active {
  background-color: #f875aa;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.variant-item-thumbnail:hover{
  cursor: pointer;
  background-color: none;
}

.item-page-body{
  display: flex;
  flex-direction: column;
}

.item-detail{
  background-color: #FFDFDF;
  display: flex;
  flex-direction: column;
  margin: 20px 60px 0 60px;
  
}
.item-detail-tabs{
  background-color: #f3cdcdc2;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  padding: 20px 0;
}
.item-detail-tab:hover{
  color: #eb3fb3;
  cursor: pointer;
}
.active-color{
  color: #eb3fb3;
}

.selected-tab-detail-container{
  display: block;
  margin-top: 20px;
  background-color: #f3cdcdc2;
}