.footer {
  display: flex;
  background-color: #ffdfdf;
  margin-top: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: auto;
}

.footer-about-us > a {
  text-decoration: none;
  color: #f875aa;
  font-size: 40px;
}
