#header{
    background-color: black;
    display: flex;
    height: 50px;
}

#header #img_logo{
    width: 120px;
    border-radius: 20%;
    text-align: center;
}

#header #logo{
    width: 100%;
    border-radius: 20%;
    display: inline-block;
}

#nav li{
    display: inline-block;
}

#nav li a{
    text-decoration: none;
}

#nav .category{
    position: absolute;
    line-height: 100px;
}

#nav .sub_category{
    position: relative;
}